<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index of <%- decodeURIComponent(title) %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176119048-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-176119048-1');
    </script>

    <link rel="stylesheet" href="/css/site.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>
    <header class="site-header">
        <nav class="site-nav" role="navigation" aria-label="breadcrumb">
            <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                <li class="breadcrumb-item active " aria-current="page" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <span itemprop="name">Index of <%- decodeURIComponent(title) %></span>
                    <meta itemprop="position" content="1" />
                </li>
            </ol>
        </nav>
        <% if(options) { %>
        <input type="button" id='refreshSources' onclick="refreshSources()" class="action-button" value="Refresh Sources" />
        <% }%>
    </header>

    <main id="content">
        <section class="content item-list">
            <div class="item">
                <span class="iconify" data-icon="ion:arrow-undo" data-inline="false"></span>
                &nbsp;<a href="../">../</a>
            </div>
            <% for(var i=0; i < data.length; i++) { %>
            <div class="item">
                <h3 class="item-title">
                    <% if(data[i].isDirectory) { %>
                    <span class="iconify" data-icon="ion:folder-open-outline" data-inline="false"></span>
                    <% } else{%>
                    <span class="iconify" data-icon="gg:file-document" data-inline="false"></span>
                    <% } %>
                    &nbsp;
                    <a title="<%= data[i].title %>"
                        href="<%= encodeURIComponent(data[i].id) %><% if(data[i].isDirectory) { %>/<% } %>">
                        <%= data[i].id %>
                    </a>
                </h3>
                <span>
                    <% if (data[i].size) { %>
                    <%= prettyBytes(data[i].size)%>
                    <% } %>
                </span>
                <time datetime="2006-01-02">
                    <% if (data[i].lastModified) { %>
                    <%= moment(data[i].lastModified).format('MMM-DD-YYYY')%>
                    <% } %>
                </time>
            </div>
            <% }%>
        </section>
    </main>
    <footer class="site-footer">
        <span class="left">MIT License</span>
        <span class="right">
            <em>Media Catalog Directory Listing</em> By
            <a href="https://github.com/mnsrulz" target="_blank" rel="noopener noreferrer">mnsrulz</a>
        </span>
    </footer>
    <script>
        async function refreshSources() {
            try {
                document.querySelector('#refreshSources').value='Refreshing...';
                document.querySelector('#refreshSources').disabled = true;
                const response = await fetch('refreshSources', {
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    // mode: 'cors', // no-cors, *cors, same-origin
                    // cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                    // credentials: 'same-origin', // include, *same-origin, omit
                    headers: {
                        'Content-Type': 'application/json'
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    // redirect: 'follow', // manual, *follow, error
                    // referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                    // body: JSON.stringify(data) // body data type must match "Content-Type" header
                });
                const jsonResponse = await response.json();
                document.location.reload();
            } catch (error) {
                alert('error occurred');
                console.log(error);
            }
        }
    </script>
</body>

</html>